<nav>
    <div class="my-nav-container">
    <a class="logo" href="#">Project 0</a>
    <input class="toggle-btn" type="checkbox" id="toggle-btn" />
    <label class="toggle" for="toggle-btn"><span class="bars"></span></label>

    <ul class="my-nav-button">
        <% if (isAuthenticated) { %>
            <li><a href="#"><%=userName%></a></li>
            <li class="nav-link-button secondary"><a href="/logout">Log out</a></li>
        <% } else { %>
            <li class="nav-link-button primary"><a href="/login">Log In</a></li>
            <li class="nav-link-button secondary"><a href="/users/register">Sign Up</a></li>
        <% } %>
    </ul>  
    <ul class="my-nav-menu">
        <li class="my-menu-item"><a href="/test.html">Home</a></li>
        <li class="my-menu-item"><a href="/todo">To do</a></li>
        <li class="my-menu-item"><a href="/users">User management</a></li>
        <li class="my-menu-item"><a href="#">About</a></li>
    </ul>
</div>
</nav>