
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
main-container{
    min-height:100vh;
    width:100%;
    padding-top:60px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, aliceblue 0%, lightsteelblue 100%);
   // background-image: linear-gradient(120deg, #b3f7f7 0%, #53fdfd 100%);


}
main-menu{
    position:absolute;
    top:0;
    left:0;
}
main-body{
    flex:2;
    width:100%;
    padding: 10px 10px;   
}
main-header{
    width: 100%;
    padding: 10px 10px;
    justify-self:flex-start;    
}

main-footer{
    width: 100%;
    padding: 10px 10px;
    justify-self:flex-end;    
}

.img-profile{

max-height:300px;
max-width:300px;

}

@import "./grid";
@import "./navbar";


.action-button {
    display:flex;
}

.icon-button{
    border:none;
    background: none;
    font-size: 1.4rem;
    color:black;
    padding: 0rem 0.5rem;
    cursor: pointer;
    &:hover{
        color:rgb(1, 132, 255);
    }
}

.input-button
{
    background: white;
}


.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
    background-color: grey;
    transition: all 1s ease;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    .icon-button{
        color:grey;
    }
  }
  
.fa {
  pointer-events: none;
}



