* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

main-container {
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main-menu {
  position: absolute;
  top: 0;
  left: 0;
}

main-body {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  padding: 10px 10px;
}

main-header {
  width: 100%;
  padding: 10px 10px;
  justify-self: flex-start;
}

main-footer {
  width: 100%;
  padding: 10px 10px;
  justify-self: flex-end;
}

/* Basic styling */
.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
}

nav {
  background: #222;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  z-index: 3;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

.logo {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}

.nav-button li,
.menu li {
  white-space: nowrap;
  padding: 10px 5px;
}

.nav-button li a,
.menu li a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
}

.nav-button li a:hover,
.menu li a:hover {
  text-decoration: underline;
}

.button .secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.logo {
  width: auto;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.toggle {
  width: 40px;
  text-align: right;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.nav-button {
  width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.menu {
  width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
  float: right;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

.toggle-btn {
  display: none;
}

.menu {
  max-height: 0;
}

.button {
  max-height: 0;
}

.toggle-btn:checked ~ .menu {
  max-height: 240px;
}

.toggle-btn:checked ~ .nav-button .button {
  max-height: 240px;
}

.toggle-btn:checked ~ .toggle .bars {
  background: transparent;
}

.toggle-btn:checked ~ .toggle .bars:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.toggle-btn:checked ~ .toggle .bars:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .button {
    max-height: 240px;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .toggle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav-button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav-button .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: auto;
  }
  .nav-button .button a {
    width: auto;
    padding: 7.5px 15px;
    border: 1px #006d6d solid;
    border-radius: 50em;
    border-color: #005959;
  }
  .nav-button .button a:hover {
    text-decoration: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .primary a {
    background: teal;
  }
  .primary a:hover {
    background: #006d6d;
  }
  .secondary a {
    background: transparent;
  }
  .secondary a:hover {
    color: teal;
  }
  .button .secondary {
    border-bottom: none;
  }
}

/* Desktop menu*/
@media all and (min-width: 768px) {
  .toggle {
    display: none;
  }
  .menu-item {
    display: block;
    width: 100%;
  }
  .logo {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    width: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .menu {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav-button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu {
    max-height: 240px;
  }
}

.list-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-view {
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse;
}

.grid-view th {
  padding: 10px;
  text-align: left;
  height: 30px;
  background: steelblue;
}

.grid-view td {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
/*# sourceMappingURL=style.css.map */