* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

main-container {
  min-height: 100vh;
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, aliceblue 0%, lightsteelblue 100%);
}

main-menu {
  position: absolute;
  top: 0;
  left: 0;
}

main-body {
  flex: 2;
  width: 100%;
  padding: 10px 10px;
}

main-header {
  width: 100%;
  padding: 10px 10px;
  justify-self: flex-start;
}

main-footer {
  width: 100%;
  padding: 10px 10px;
  justify-self: flex-end;
}

.img-profile {
  max-height: 300px;
  max-width: 300px;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid ul {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px #006d6d solid;
  border-radius: 1em;
  border-color: #005959;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

.grid li {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}

.grid .grid-button {
  text-align: end;
  align-self: flex-end;
  justify-self: flex-end;
}

.action-button {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 150px;
  font-size: 18px;
  color: black;
  text-align: center;
  border: 1px #006d6d solid;
  border-radius: 50em;
  border-color: #005959;
  text-decoration: none;
}

/* Basic styling */
nav {
  background: #222;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  z-index: 3;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
}

.my-nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.logo {
  color: white;
  font-size: 40px;
  text-decoration: none;
}
.logo a:hover {
  text-decoration: none;
}

.my-nav-button li,
.my-nav-menu li {
  white-space: nowrap;
  padding: 10px 5px;
}
.my-nav-button li a,
.my-nav-menu li a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
}
.my-nav-button li a:hover,
.my-nav-menu li a:hover {
  text-decoration: underline;
}

.nav-link-button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.logo {
  width: auto;
  order: 0;
}

.toggle {
  width: 40px;
  text-align: right;
  order: 0;
}

.my-nav-button {
  width: 100%;
  text-align: center;
  order: 1;
  flex-direction: row-reverse;
}

.my-nav-menu {
  margin-left: auto;
  width: 100%;
  text-align: center;
  order: 2;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
  float: right;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

.toggle-btn {
  display: none;
}

.my-nav-menu {
  max-height: 0;
}

.my-nav-button {
  max-height: 0;
}

.toggle-btn:checked ~ .my-nav-menu {
  max-height: 240px;
}

.toggle-btn:checked ~ .my-nav-button {
  max-height: 240px;
}

.toggle-btn:checked ~ .toggle .bars {
  background: transparent;
}

.toggle-btn:checked ~ .toggle .bars:before {
  transform: rotate(-45deg);
  top: 0;
}

.toggle-btn:checked ~ .toggle .bars:after {
  transform: rotate(45deg);
  top: 0;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .my-nav-button {
    max-height: 240px;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    order: 2;
  }

  .my-nav-button {
    flex: 1;
    width: auto;
    order: 1;
  }

  .my-nav-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: auto;
  }
  .my-nav-button a {
    width: auto;
    padding: 7.5px 15px;
  }

  .nav-link-button a {
    border: 1px #006d6d solid;
    border-radius: 50em;
    border-color: #005959;
    text-decoration: none;
  }
  .nav-link-button a:hover {
    text-decoration: none;
    transition: all 0.25s;
  }

  .nav-link-button.primary a {
    background: teal;
  }
  .nav-link-button.primary a:hover {
    background: #006d6d;
    text-decoration: none;
  }

  .nav-link-button.secondary a {
    background: transparent;
  }
  .nav-link-button.secondary a:hover {
    color: teal;
    text-decoration: none;
  }

  .nav-link-button.secondary {
    border-bottom: none;
  }
}
/* Desktop menu*/
@media all and (min-width: 768px) {
  .toggle {
    display: none;
  }

  .my-menu-item {
    display: block;
    width: 100%;
  }

  .logo {
    width: 50px;
    order: 0;
  }

  .my-nav-menu {
    margin-left: auto;
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    order: 1;
  }

  .my-nav-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    order: 2;
  }

  .my-nav-menu {
    max-height: 240px;
  }
}
.action-button {
  display: flex;
}

.icon-button {
  border: none;
  background: none;
  font-size: 1.4rem;
  color: black;
  padding: 0rem 0.5rem;
  cursor: pointer;
}
.icon-button:hover {
  color: #0184ff;
}

.input-button {
  background: white;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
  background-color: grey;
  transition: all 1s ease;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.completed .icon-button {
  color: #04ce25;
}
.completed td {
  background: #bcf8c6;
}

.fa {
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */